<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static '/pages/myFollow.css' %}">
</head>
<body class="body">
  {% if request.user.is_authenticated %}
    {% include 'includes/authHeader.html' with active_sub='nav__item_active'%}
  {% else %}
    {% include 'includes/nonauthHeader.html' %}
  {% endif %}
<main class="main container">
    <div class="main__header">
        {% if user %}
        <h1 class="main__title">Мои подписки</h1>
        {% else %}
        <h1 class="main__title">Мои подписки, но их пока нету :(</h1>
        {% endif %}
    </div>
    <div class="card-list">

        {%  for authors in page %}
        <div class="card-user" data-author="{{ authors.author.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{ authors.author }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in authors.author.recipes.all|slice:"3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                        <a class="h3 recipe__title link" href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                    </div>
                </li>
                    {% endfor %}

                {% if authors.author.recipes.all.count > 3%}
                <li class="card-user__item">
                        <a href="{% url 'recipe_profile' authors.author.id %}" class="card-user__link link">Еще {{ authors.author.recipes.all.count|add:"-3" }}
                            {% if authors.author.recipes.all.count|add:"-3" > 1 and authors.author.recipes.all.count|add:"-3" < 5 %}
                                рецепта...
                        {% elif authors.author.recipes.all.count|add:"-3" == 1 %}
                            рецепт...
                        {% else %}
                            рецептов...
                        {% endif %}
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
        {% endfor %}

    </div>
    {% include 'includes/paginator.html' %}
</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/MainCards.js' %}"></script>
<script src="{% static '/js/components/MyFollow.js' %}"></script>
<script src="{% static '/js/components/Subscribe.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static '/temp/myFollow.js' %}"></script>

</body>
</html>
