version: '3.3'

services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  django_gunicorn:
    image: ethorill/foodgram:v1
    restart: always
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media
    depends_on:
      - db
    env_file:
      - ./.env
  nginx:
    image: nginx:1.19.5
    restart: always
    volumes:
      - media_volume:/code/media
      - static_volume:/code/static
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - django_gunicorn

volumes:
  postgres_data:
  static_volume:
  media_volume:
