<div class="card-list">
        {% for item in items %}
            <div class="card" data-id="{{ item.id }}">
                <a href="{% url 'recipe_detail' item.id %}" class="link" target="_blank"><img src="{{ item.image.url }}" alt="Какой-то текст" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe_detail' item.id %}" target="_blank">{{ item.title }}</a>
                    <ul class="card__items">
                        {% for tag in item.tag.all %}
                            {% if tag.name == 'Обед' %}
                                <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                            {% endif %}
                            {% if tag.name == 'Завтрак' %}
                                <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                            {% endif %}
                            {% if tag.name == 'Ужин' %}
                                <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                            {% endif %}
                            {% endfor %}
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{ item.time }} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'recipe_profile' item.author.id %}" style="color: black">{{ item.author }}</a></p>
                    </div>
                </div>
                <div class="card__footer">
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% if item.following_recipe.exists %}
                        <button class="button button_style_none" name="favorites" ><span class="icon-favorite icon-favorite_active"></span></button>
                        {% else %}
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                    {% endif %}
                </div>
            </div>
             {% endfor %}
        </div>