<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
</head>
<body class="body">
{% include 'includes/nonauthHeader.html' %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Вы вышли</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
        </div>
    </div>


</main>
{% include 'includes/footer.html' %}
</body>
</html>