{% extends 'extends/base.html' %}
{% load static %}
{% block header %}
    {% include 'includes/Header.html' with active_index='nav__item_active' %}{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="{% static '/pages/index.css' %}">{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ user }}</h1>
        {% include 'includes/tags.html' %}
    </div>
    {% if request.user.is_authenticated %}
        {% if not user.following.exists %}
            <div class="author-subscribe" data-author="{{ user.id }}">
                <p style="padding: 0 0 2em 0;">
                    <button class="button button_style_light-blue button_size_subscribe"
                            name="subscribe" data-out>Подписаться на автора
                    </button>
                </p>
            </div>
        {% else %}
            <div class="author-subscribe" data-author="{{ user.id }}">
                <p style="padding: 0 0 2em 0;">
                    <button class="button button_style_light-blue button_size_subscribe"
                            name="subscribe">Отписаться
                    </button>
                </p>
            </div>
        {% endif %}
    {% endif %}

    <div class="card-list">
        {% for recipe in page %}

            {% include 'includes/card.html' with item=recipe %}
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}
{% block js %}
    <script src="{% static '/js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/components/Subscribe.js' %}"></script>
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static '/temp/authorRecipe.js' %}"></script>
{% endblock %}
