{% extends 'extends/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">{% endblock %}
{% block title %}Редактировать{% endblock %}
{% block header %}{% include 'includes/Header.html' %}{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data"
              action="{% url 'edit_r' old_recipe.id %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название
                    рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title"
                           class="form__input" value="{{ old_recipe.title }}">
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in tags %}
                            <div class="tags__item">
                                <input type="checkbox" name="{{ tag.slug }}"
                                       id="id_{{ tag.slug }}"
                                       class="tags__checkbox tags__checkbox_style_{{ tag.color }}"
                                       {% if tag in old_recipe.tag.all %}checked{% endif %}>
                                <label for="id_{{ tag.slug }}%}"
                                       class="tags__label">{{ tag.name }}</label>
                            </div>

                        {% endfor %}
                    </div>

                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient"
                       class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient"
                                   class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input"
                               min="0">
                        <label for="cantidad" class="form__label"
                               id="cantidadVal">шт.</label>
                    </div>

                    <div class="form__field-group-ingredientes-container">
                        {% if old_recipe.recipes %}
                            {% for item in old_recipe.recipes.all %}
                                <div class="form__field-item-ingredient"
                                     id="ing_{{ forloop.counter }}">
                                    <span> {{ item.ingridient.title }} {{ item.amount }} {{ item.ingridient.measurement_unit }}</span>
                                    <span class="form__field-item-delete"></span>
                                    <input id="nameIngredient_{{ forloop.counter }}"
                                           name="nameIngredient_{{ forloop.counter }}3"
                                           type="hidden"
                                           value="{{ item.ingridient.title }}">
                                    <input id="valueIngredient_{{ forloop.counter }}"
                                           name="valueIngredient_{{ forloop.counter }}"
                                           type="hidden"
                                           value="{{ item.amount }}">
                                    <input id="unitsIngredient_{{ forloop.counter }}"
                                           name="unitsIngredient_{{ forloop.counter }}"
                                           type="hidden"
                                           value="{{ item.ingridient.measurement_unit }}.">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    {% if recipe_error %}
                        <span class="form__error">{{ recipe_error }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время
                    приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="time"
                           class="form__input" value="{{ old_recipe.time }}">
                    <label for="id_time" class="form__label">минут</label>
                    {% if form.errors %}
                        {% for error in form.time.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_description"
                       class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8"
                              class="form__textarea">{{ old_recipe.description }}</textarea>
                    {% if form.errors %}
                        {% for error in form.description.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать
                        файл</label>
                    <input type="file" class="form__file" name="image"
                           id="id_file">
                    {% if form.errors %}
                        {% for error in form.image.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Сохранить</button>
                <a style="margin-left: 2.5em"
                   href="{% url 'recipe_delete' old_recipe.id %}"
                   class="form__ingredient-link">Удалить</a>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/utils/debouncing.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'temp/formRecipe.js' %}"></script>
{% endblock %}
