{% extends 'extends/base.html' %}
{% load static %}
{% block title %}500{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="{% static '/pages/index.css' %}">{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block" style="color: red">Что то пошло не так,
            простите :(</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}" class="button button_style_blue">Перейти
                на главную</a>
        </div>
    </div>
{% endblock %}